/Book/nbproject/private/
/Book/build/
/Swing/nbproject/private/
/Swing/build/
/Enterprise/nbproject/private/
/Enterprise/build/
/FPTAptech/nbproject/private/
/FPTAptech/build/
/Hotel/nbproject/private/
/Hotel/build/
/VnexpressReader/nbproject/private/
/NewspaperReader/nbproject/private/
/NewspaperReader/build/
/HiIamReader/nbproject/private/
/HiIamReader/build/
/SEM/nbproject/private/
/ConversionUtil/nbproject/private/
/ConversionUtil/build/
/BotAutoIndex/nbproject/private/
/BotAutoIndex/build/
/SiinApplication/nbproject/private/
/SiinApplication/build/
/Room/nbproject/private/
/Room/build/
/DemoAddStudent/nbproject/private/
/DemoAddStudent/build/
/Librery/nbproject/private/
/Library/nbproject/private/
/Library/build/
/BotAutoIndex/dist/